@import url('https://fonts.cdnfonts.com/css/dirtyline-36daysoftype-2022');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #0a0a0a;
	--foreground: #ededed;
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: var(--font-geist);
}

.font-geist {
	font-family: var(--font-geist);
}

.font-dirtyline {
	font-family: 'Dirtyline 36Daysoftype 2022', sans-serif;
}
